<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Top News</title>
</head>

<body>
    <div class="container">
        <h1>Search For Top News</h1>
        <hr>
        <br>
        
        <form method="POST" data-th-action="@{/search/news}" data-th-object="${request}">
            <div class="mb-3">
                <label for="searchCategory" class="form-label">Category:</label>
                <select id="category" name="category" data-th-field="*{category}">
                    <option data-th-each="c:${category}" data-th-value="${c}" data-th-text="${c}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="searchCountry" class="form-label">Category:</label>
                <select id="country" name="country" data-th-field="*{code}">
                    <option data-th-each="c:${country}" data-th-value="${c.value}" data-th-text="${c.key}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>